[submodule "software/zlib"]
	path = software/zlib
	url = https://github.com/madler/zlib.git
[submodule "software/boost"]
	path = software/boost
	url = https://github.com/boostorg/boost
[submodule "software/cmph"]
	path = software/cmph
	url = https://github.com/zvelo/cmph
[submodule "software/mgiza"]
	path = software/mgiza
	url = https://github.com/moses-smt/mgiza.git
[submodule "software/mosesdecoder"]
	path = software/mosesdecoder
	url = https://github.com/moses-smt/mosesdecoder.git
[submodule "software/fast_align"]
	path = software/fast_align
	url = https://github.com/clab/fast_align.git
[submodule "software/xmlrpc-c"]
	path = software/xmlrpc-c
	url = https://github.com/mirror/xmlrpc-c.git
