body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.dropzone-looks {
  background: #f9f9f9;
  border: 2px dashed #ddd;
  margin: 10px bottom;
}

input[type='checkbox']{
  cursor:pointer;
}

.glyphicon-trash {
  opacity: 0.2;
}

.icon-enabled{
  cursor:pointer;
  opacity: 0.5;
}

.glyphicon-download-alt {
  opacity: 0.5;
  cursor:pointer;
}

.glyphicon-eye-open {
  opacity: 0.5;
  cursor:pointer;
}

.glyphicon-plus-sign {
  opacity: 0.5;
  cursor:pointer;
}

.glyphicon-upload {
  opacity: 0.5;
}

.glyphicon-wrench {
  opacity: 0.5;
}

.checkbox-inconsistent {
  opacity: 0.5;
}

.footimage {
  height: 50px;
}

.wrapper {
  margin-bottom:100px;
}

.seleclang{
  cursor:pointer;
}

.seleclang:hover{
  background-color:lightgray;
}

table#filelist tr td:nth-child(3) {
  cursor:pointer;
}

.nav-tabs {
	margin-bottom: 20px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spinWebkit .7s infinite linear;
    -moz-animation: spinMoz .7s infinite linear;
}

@-webkit-keyframes spinWebkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spinMoz {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
