{% extends "base.html" %}

{% block extracss %}
<link href="{{ url_for('.static', filename='css/dropzone.css') }}" rel="stylesheet">
<link href="{{ url_for('.static', filename='css/datatables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <h2>{{ _('File manager') }}</h2>
  <p>{{ _('Add either text or TMX files to MTradumàtica; you will always find them all stored here.')}}</p>
</div>
<div class="container">
  <table id="filelist" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><input class="checkbox" id="checkbox_all" type="checkbox"/></th>
        <th>{{ _('File name') }}</th>
        <th>{{ _('Language') }}</th>
        <th>{{ _('Lines') }}</th>
        <th>{{ _('Words') }}</th>
        <th>{{ _('Chars') }}</th>
        <th>{{ _('Date') }}</th>
        <th>
          <span id="delete_all" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<div class="container">
  <div class="col-xd-10 col-xd-offset-2 text-center">
    <form action="actions/file-upload" class="dropzone dropzone-looks" id="my_drop_zone"
          method="post" enctype="multipart/form-data">
      <div class="dz-message">
      <h2><span class="glyphicon glyphicon-upload"
      aria-hidden="true"></span><br/></h2> <!-- change h2 for the appropriate bootstrap way of doing this -->
      {{ _('Click here or drag and drop files') }}<br/>
      <small>{{ _('(you can upload more than one file at once)') }}</small></div>
    </form>
  </div>
</div>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ _('Excerpt of') }} <span id="peek-title"></span></h4>
        </div>
        <div class="modal-body">
          <p><pre id="peek-body"></pre></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block extrajs %}
<script src="{{ url_for('.static', filename='js/dropzone.js') }}"></script>
<script src="{{ url_for('.static', filename='js/datatables.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/counter-common.js') }}"></script>
<script src="{{ url_for('.static', filename='js/filemanager.js') }}"></script>

{% endblock %}
