{% extends "base.html" %}
{% block content %}
<div id="create_form" class="container" style="display:none">
  <h2>{{ _('Train SMT system') }}</h2>
  <p>{{ _('Select a parallel corpus (both source and target sides), then click the button to start training the system.') }}</p> 
  <div class="row">
  <div class="col-md-6">
    <label for="sourcesel">{{ _('Source side') }}</label>
    <select id="sourcesel" class="form-control">
      <option value="null" selected></option>
      {% for d in data %}
        <option value="{{ d.id }}">{{ d.name }} / {{ d.nlines }} / {{ d.lang }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-6">
    <label for="targetsel">{{ _('Target side') }}</label>
    <select id="targetsel" class="form-control">
      <option value="null" selected></option>
      {% for d in data %}
        <option value="{{ d.id }}">{{ d.name }} / {{ d.nlines }} / {{ d.lang }}</option>
      {% endfor %}
    </select>
  </div>
  </div>
  <div class="row text-center">
    <br/>  
    <button id="train" type="button" class="btn btn-primary disabled">{{ _('Start training') }}</button>
  </div>
</div>

<div id="cancel_form" class="container" style="display:none">
  <h2>{{ _('Training in progress') }}</h2>
  <p>{{ _('You can cancel the current training by pressing the button to cancel.') }}</p>
  <div class="row text-center">
     <h1><span class="label label-primary" id="elapsed_time"></span></h1>
  </div>
  <div class="row text-center">
    <br/>    
    <button id="cancel" type="button" class="btn btn-danger">{{ _('Cancel training') }}</button>  
  </div>
</div>

<div id="remove_form" class="container" style="display:none">
  <h2>{{ _('System trained') }}</h2>
  <p>{{ _('You can remove the current MT system by pressing the button. The MT system will be removed permanently.') }}</p>
  <div class="row text-center">
    <br/>  
    <button id="remove" type="button" class="btn btn-danger">{{ _('Remove system') }}</button>  
  </div>
</div>


{% endblock %}

{% block extrajs %}
  <script src="{{ url_for('.static', filename='js/train.js') }}"></script>
{% endblock %}