{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>{{ _('Test SMT system') }}</h2>
  <p>{{ _('Type or paste some text in the input text area, then press \'Submit\' to get the translation done.') }}</p>
  <div class="row">
    <div class="col-md-6">
      <label for="inputtext">{{ _('Input text') }}</label>
      <textarea id="inputtext" class="form-control" rows="20" autofocus></textarea>
    </div>
    <div class="col-md-6">
      <label for="outputtext">{{ _('Output text') }}</label>
      <textarea id="outputtext" class="form-control" rows="20" readonly></textarea>
    </div>  
  </div>
  <div class="row text-center">
    <br/>
    <button id="submit" type="submit" class="btn btn-primary">{{ _('Translate') }}</button>
    <button id="clear" class="btn btn-default">{{ _('Clear') }}</button>
  </div>
</div>
{% endblock %}

{% block extrajs %}
  <script src="{{ url_for('.static', filename='js/test.js') }}"></script>
{% endblock %}